<?xml version="1.0" ?>
<launch>
  <param name="urdf_file" value="$(find humanoid_descripition)/urdf/humanoid.urdf"/>
  <include file="$(find humanoid_gazebo)/launch/humanoid_control.launch" />
  <node name="humanoid_kinematics" pkg="humanoid_kinematics" type="humanoid_kinematics" output="screen" />
</launch>
